.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.add-cart-btn {
  width: 100%;
  padding: 8px;
  border: none;
  background: #ff3f6c;
  color: white;
  border-radius: 8px;
}
