.review-page {
  padding: 20px;
  background: #f7f7f7;
}

.delivery-box {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.review-layout {
  display: flex;
  gap: 20px;
}

.review-items {
  flex: 2;
}

.review-card {
  display: flex;
  gap: 14px;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 14px;
}

.review-card img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.review-info h4 {
  margin: 0;
}

.price-box {
  flex: 1;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  height: fit-content;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.free {
  color: green;
}

.total {
  font-weight: bold;
}

.continue-btn {
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  border: none;
  background: #ff3f6c;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}
